.Todo-List-container {
    display: flex ;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    border: 1px solid rgba(139, 206, 247, 0.894);
    min-height: 7cm ;

}
.todo-form{
    
    display: flex;
    width: auto;
    font-size: large;
    min-height: 0.5cm;
    gap: 0.3cm;
}
.todo-form input{
    font-size: 100%;
    border :0.03cm solid rgba(139, 206, 247, 0.894);
    border-radius: 15px;
    justify-content: center
    
}
.todo-form button {

    border: none;
    padding: 10px;
    color: rgb(13, 17, 21);
    background-color: rgb(225, 36, 36);
    border-radius: 15px;
    
}
.todo-form button:active{

background-color: rgba(139, 206, 247, 0.894);
}

.complete {
    text-decoration: line-through;
    opacity: 0.2;
  }
  .todo-button.edit {
    border: none;
    padding: 10px 15px;
    color: rgb(50, 0, 54);
    background-color: rgb(225, 36, 36);
    border-radius: 15px;
    
  }
  .icons {
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  .Todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .Todo-row{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(20, 216, 255) 0%,
    rgb(255, 81, 17) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
h1 {
    color: rgb(220, 35, 35);
    font-size: 0.5cm;
    text-align: center;
    text-decoration : underline;

  }

